*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}

.title2{
    color: red;
}

.title3{
    color: blue;
}

.container{
    width: 1000px;
    margin:auto;
    margin-top: 20px;
    position: relative;
    border-radius: 60px;
    padding: 80px 40px;
    overflow: hidden;
} 
